node_modules/
vscode-source/
dist/
build/_cmake_build/
build/Release/
*.node
.DS_Store
Thumbs.db
*.log
__pycache__/
*.pyc
*.pycache
.env
.forge-builder.json

vscode*
VS*/*
VSCode*
VSCodium*
NVECode*
NVE-*
.DS_Store
*.env
assets/
build/linux/appimage/out
build/linux/appimage/pkg2appimage.AppDir
build/linux/appimage/pkg2appimage-*.AppImage
build/linux/appimage/pkg2appimage.AppImage
build/linux/appimage/squashfs-root
build/linux/appimage/NVECode
sourcemaps/
node_modules/
*.log
